.refer__inner {
    padding-bottom: 200px;
    h2 {
        font-size: 30px;
        color: var(--white);
        margin-bottom: 10px;
    }
}

.refer__list {
    font-family: var(--font-kr);
    box-sizing: border-box;
    border: 1px solid var(--bg-dark-border);
    li {
        border-bottom: 1px solid var(--bg-dark-border);
        a{
     
            align-items: center;
            display: flex;
            width: 100%;
            color: var(--white);
            span {
                display: inline-block;
                padding: 15px 20px;
            }

            .num {
                text-align: center;
                flex: 1 1 5%;
                border-right: 1px solid var(--bg-dark-border);
            }
            .name {
                flex: 1 1 25%;
                border-right: 1px solid var(--bg-dark-border);
            }
            .desc {
                flex: 1 1 55%;
                border-right: 1px solid var(--bg-dark-border);
            }
            .star {
                text-align: center;
                flex: 1 1 15%;
            }
        }
    }
}